body{
    margin: 0;
}
.title{
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    color:rgb(53, 52, 52);
    border-left: 5px solid rgb(27, 112, 223);
    padding-left: 15px;
    border-radius: 5px;
    margin-top: 130px;
}

.theme-color{
    color:cornflowerblue;
}

.section-gap{
    margin-bottom: 100px;
}

.flex-container{
    display: flex;
}

.half-width{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.half-width img{
    width: 70%;
}

.link-button{
    text-decoration: none;
    padding: 12px 32px;
    color: white;
    border-radius: 5px;
    background-color: rgb(27, 112, 223);
}


.mission-title{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
}

.mission-item{
    width: 23%;
    border-radius: 15px;
    padding: 25px;
}

.mission-item img{
    width: 50%;
}

#mission-item1{
    background-color: rgb(218, 238, 238);
    margin-left: 12%;
    margin-right: 2%;
}

#mission-item2{
    background-color: rgb(245, 227, 230);
}

#mission-item3{
    background-color: rgb(247, 242, 221);
    margin-left: 2%;
    margin-right: 12%;
}

.develop-title{
    font-size: 30px;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 25px;
}